.edit-note-popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 243, 231, 0.9);
    z-index: 5;
    overflow: auto;
    text-align: center;

    .clouse-btn {
        position: absolute;
        right: 5%;
        top: 5%;

    }
   h3{
    text-align: center;
    margin: 0 auto;
    line-height: 20px;

   }
   p{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: tomato;
   }
   &__container__body{
     .btn-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
     }
   }
    select,
    input,
    textarea {
        width: 50%;
        box-shadow:
            0.3em 0.3em 0 0 #e9c46a,
            inset 0.3em 0.3em 0 0 #e9c46a;
        background: none;
        border: none;
        transition: 0.25s;
        font-size: 20px;
        padding: 10px 20px;
        text-transform: uppercase;
        color: #2a9d8f;

        font-weight: 700;
        min-width: 180px;
        outline: none;
        margin-bottom: 40px;
        

    }
    @media screen and (max-width: 600px) {

            h3{
                margin-bottom: 1rem;
            }

            select,
            input,
            textarea {
                width: 65%;
                font-size: 15px;
                padding: 5px 10px;;

            }
        

    }
}