.grades {
    text-align: center;
    button {
        
        box-shadow:
            0.3em 0.3em 0 0 #2a9d8f,
            inset 0.3em 0.3em 0 0 #2a9d8f;
        background: none;
        border: none;
        transition: 0.25s;
        font-size: 15px;
        padding: 10px 20px;
        text-transform: uppercase;
        color: #2a9d8f;
        cursor: pointer;
        font-weight: 700;
        min-width: 180px;
        outline: none;

        &:hover {
            box-shadow:
                0 0 0 0 #e9c46a,
                inset 6em 3.5em 0 0 #e9c46a;
            color: #000;
        }
    }
    .grades-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        align-items: center;

        .show-grades{
            width: 90%;
            .show-grades-titles,
            .show-grades-items{
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;
                justify-content: space-evenly;
                // width: 30%;

                p{
                    text-align: center;
                    width: 33%;
                    height: 100%;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    font-weight: 700;
                    text-shadow: 2px 2px 5px ;
                }
            }
            .show-grades-titles{
                margin-top: 25px;
                border: 2px solid ;
                p{
                    color: #e9c46a;
                    

                }
            }
            .show-grades-items{
                border-bottom: 2px solid;
                P{
                    color: #2a9d8f;
                }
                .delete{
                    font-size: 1.2rem;
                    cursor: pointer;
                    transition: all 0.2s linear;

                    &:hover{
                        color: red;
                        transform: scale(1.2);
                    }
                }
            }
        }
        
    }
}