.grades {
    text-align: center;
    button {
        
        box-shadow:
            0.3em 0.3em 0 0 #2a9d8f,
            inset 0.3em 0.3em 0 0 #2a9d8f;
        background: none;
        border: none;
        transition: 0.25s;
        font-size: 15px;
        padding: 10px 20px;
        text-transform: uppercase;
        color: #2a9d8f;
        cursor: pointer;
        font-weight: 700;
        min-width: 180px;
        outline: none;

        &:hover {
            box-shadow:
                0 0 0 0 #e9c46a,
                inset 6em 3.5em 0 0 #e9c46a;
            color: #000;
        }
    }
    .grades-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        align-items: center;
        
    }
}