
.notes{
    position: relative;
    text-align: center;
    h2{
        text-align: center;
        text-transform: uppercase;
        margin: 2rem auto;
        font-size: 2rem;
        font-weight: 900;
        color: #e9c46a;
        text-shadow: 2px 2px 6px;
        padding: 0 10px;
    }
    h3{
        text-transform: uppercase;
    }
    button {
        box-shadow:
            0.3em 0.3em 0 0 #2a9d8f,
            inset 0.3em 0.3em 0 0 #2a9d8f;
        background: none;
        border: none;
        transition: 0.25s;
        font-size: 15px;
        padding: 10px 20px;
        text-transform: uppercase;
        color: #2a9d8f;
        cursor: pointer;
        font-weight: 700;
        min-width: 180px;
        outline: none;

        &:hover {
            box-shadow:
                0 0 0 0 #e9c46a,
                inset 6em 3.5em 0 0 #e9c46a;
            color: #000;
        }
    }

    .notes-container{
    
        .back{
            font-size: 3rem;
            cursor: pointer;
            color: tomato;
            position: absolute;
            left: 4%;
            top: 5%;
        }

        .notes-items{
            position: relative;
            margin: 10px auto;
            width: 80%;
            border: 2px solid #000;
            border-radius: 10px;
            box-shadow: 2px 2px 10px #000;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .done{
                position: absolute;
                top: 6%;
                right: 4%;
                font-size: 1.5rem;
                cursor: pointer;
            }
        }
    }
}