
.signin{
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        label{
            color: #2a9d8f;
            font-weight: 700;
            font-size: 1.5rem;
        }

        input{
            width: 50%;
            font-size: 1.2rem;
            padding: 5px;
            text-align: center;
            background: transparent;
            transition: all 0.3s linear;
            
            &::placeholder{
                color: #2a9d8f;
                transition: all 0.1s linear;
            }
            &:focus::placeholder{
                font-size: 0;
            }
        }
        
    }
}